<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lozti's PhotoAlbum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">




      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <!-- Authenticated user links -->
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-images"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user"></i> <%= user.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        <% } else { %>
          <!-- Guest links -->
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user"></i> About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register"><i class="fas fa-user-plus"></i> Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>